body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#app {
    max-width: 600px;
    margin: 0 auto;
}

form {
    margin-bottom: 20px;
}

input[type=text],input[type=password] ,textarea, button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    cursor: pointer;
}